<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<div class= "ui blue">
<h1 id="logo" class=" ui centered header">Tipical</h1>
</div>
<form class="search">
  <input class="" id="search-field" type="text" placeholder="Enter your city...">
  <button class = "" id="search-button">Search</button>
</form>
<div class="ui divider"></div>
<div class="ui one column container"></div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/e5da894dce.js"></script>
<script src="./semantic.min.js"></script>
<script src="app.js"></script>
