<head>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
  <link rel="stylesheet" href="./semantic.min.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" href="https://openlayers.org/en/v4.3.0/css/ol.css" type="text/css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css">
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/e5da894dce.js"></script>
  <script src="./semantic.min.js"></script>


</head>
<body>
  <div id="map" class="map"></div>
    <div class="overlay">
      <div class= "ui menu white">
        <a href="/app"><h3 id="logo" class="ui header item">Tipical</h3></a>
        <a class="ui header floated left item" href="new_post.html">Add Tip</a>
        <form class="ui huge form search">
          <input class="inverted fluid" id="search-field" type="text" placeholder="Enter your city...">
          <button class = "ui button white inverted" id="search-button">Search Tips</button>
        </form>
      </div>
      </div>
    <div id="posts" class="ui one column container"></div>
<script src="https://openlayers.org/en/v4.3.0/build/ol.js"></script>
<script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>
<script src="app.js"></script>
</body>
