<head>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
  <link rel="stylesheet" href="./semantic.min.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  	<script src="https://use.fontawesome.com/e5da894dce.js"></script>
  <script src="./semantic.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfpfnY_xf4KCPPx0-zROcVNkkQSSidFag&libraries=places">
  </script>
  <script src="app.js"></script>
</head>
<body>
  <div id="map"></div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="overlay">
      <div class= "ui menu white ">
        <a href="/app"><h3 id="logo" class="ui header item">Tipical</h3></a>
        <a class="ui header floated left item" href="new_post.html">Add Tip</a>
        <!-- <form class="ui huge form search">

          <input class="default fluid" id="tip-field" type="text" placeholder="Enter your city...">
          <button class = "ui button white inverted" id="submit-button">Add Tip</button>
        </form> -->
        <form action='...' method='POST' class='ui form search form-group'>
          <div class="form-horizontal">
            <input type="text" id="search-field" class="inverted fluid form-control" placeholder="Enter an address..." style="width:500px;max-width:500px;display:inline-block"/>
            <button type="submit" class="ui button btn btn-primary" id="search-button">Search</button>
             <!-- <span class="glyphicon glyphicon-search"></span>
        </button> -->
          </div>
        </form>

        <!-- <form class="ui huge form search form-group">
          <div class="form-horizontal">
          <input class="inverted fluid form-control" id="search-field" type="text" placeholder="Enter an address...">

          <button type="submit" class = "ui button white inverted btn btn-primary" id="search-button">Search</i></button>

</div>
        </form> -->
      </div>
    <div id="posts" class="ui one column container"></div>
  </div>
</body>
