<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="./semantic.min.js"></script>

<div class= "ui blue">
<h1 id="logo" class=" ui centered header">Tipical</h1>
</div>
<div class="ui divider"></div>
<div class="ui one column container">

  <form id="login" class="ui form">
      <div class="field">
        <label>E-mail address</label>
            <div class="ui input">
                <input type="text" placeholder="user@123.com">
        </div>
        <label>Username</label>
        <div class="ui input">
            <input type="text" id="username" placeholder="user123">
        </div>
        <label>Password</label>
        <div class="ui input">
            <input type="text" id="password" placeholder="password">
        </div>
        <button id="signupButton" class="ui button" type="submit">Sign up</button>
        </div>
  </form>
  <script src="new_user.js"></script>
</div>

