<link rel="stylesheet" href="jquery-ui.css" />
<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<div class= "ui menu white">
<a href="/app"><h3 id="logo" class=" ui header item">Tipical</h3></a>
<a class="ui header floated left item" href="new_post.html">New Post</a>
<a class="ui header item" href="user_posts.html">User Posts</a>
<a class="ui header item floated right" href="new_user.html">Create Account</a>
</div>
<div id="main" class="ui one column container">
  <form id="newpostForm" class="ui form">
    <div class="field">
      <label>User Info</label>
      <input id="uname" type="text" placeholder: '123.456'></input>
      <input id="pw" type="password" placeholder: '123.456'></input>
      <label>Location</label>
      <input id="lat" type="text" placeholder: '123.456'></input>
      <input id="lon" type="text" placeholder: '123.456'></input>
      <label>User Input</label>
      <textArea id="postData" rows="5"></textarea>
      <div class="submitButton">
        <button id="sub" class="ui button" type="submit">Submit that thang!</button>
      </div>
    </div>
  </form>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="./semantic.min.js"></script>
  <script src="new_post.js"></script>
</div>
