<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<div class= "ui menu white">
<a href="/app"><h3 id="logo" class=" ui header item">Tipical</h3></a>
<a class="ui header floated left item" href="new_post.html">New Post</a>
<a class="ui header item" href="user_posts.html">User Posts</a>
<a class="ui header item floated right" href="new_user.html">Create Account</a>
</div>
<div class="ui one column container">

  <form id="login" class="ui form">
      <div class="field">
        <label>Username</label>
        <div class="ui input">
            <input type="text" id="username" placeholder="user123">
        </div>
        <label>Password</label>
        <div class="ui input">
            <input type="text" id="password" placeholder="password">
        </div>
        <div class="buttonChoices">
            <button id="signupButton" class="ui button" type="submit">Sign up</button>
            <button id="loginButton" class="ui button" type="submit">Log in</button>
        </div>
    </div>
  </form>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="./semantic.min.js"></script>
  <script src="new_user.js"></script>
</div>
