<link rel="stylesheet" href="jquery-ui.css" />
<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="index.css">
<link rel="stylesheet" href="https://openlayers.org/en/v4.3.0/css/ol.css" type="text/css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css">

<div class= "ui menu white inverted">
  <a href="/app"><h3 id="logo" class=" ui header item">TIPical</h3></a>
  <!-- <a class="ui header floated left item" href="new_post.html">New Post</a> -->
</div>
<div id="main" class="ui one column container">
  <form id="newpostForm" class="ui form">
    <div class="field">
      <label>Title</label>
      <input id="title" type="text" placeholder="Best coffee!"></input>
      <label>Address</label>
      <input id="address" type="text" placeholder="123 Main St, NY, NY 11111"></input>
      <label>Tip</label>
      <textArea id="postData" rows="7"></textarea>
      <div class="submitButton">
        <button id="sub" class="ui button" type="submit">Share your tip!</button>
      </div>
    </div>
  </form>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="./semantic.min.js"></script>
  <script src="https://openlayers.org/en/v4.3.0/build/ol.js"></script>
  <script src="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfpfnY_xf4KCPPx0-zROcVNkkQSSidFag&libraries=places">
></script>

  <script src="new_post.js"></script>
</div>
