<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<script src="./semantic.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<div class= "ui blue">
<h1 id="logo" class=" ui centered header">Tipical</h1>
</div>
<div class="ui divider"></div>
<div class="ui one column container">
  <form class="ui form">
    <div class="field">
      <label>User Input</label>
      <textArea rows="5"></textarea>
        <button id="sub" class="ui button " type="submit">Submit that thang!</button>
    </div>
  </form>
  <script src="new_user.js"></script>
</div>
