<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<link rel="stylesheet" href="./semantic.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<div class= "ui menu white">
<a href="/app"><h3 id="logo" class=" ui header item">Tipical</h3></a>
<a class="ui header floated left item" href="new_post.html">New Post</a>
<a class="ui header item" href="user_posts.html">User Posts</a>
<a class="ui header item floated right" href="new_user.html">Create Account</a>
</div>
<div id="" class="ui one column container">
  <form class="ui form">
    <div class="field">
      <label class="ui">User Info</label>
      <input id="uname" type="text" placeholder: '123.456'></input>
      <input id="pw" type="password" placeholder: '123.456'></input>
      <button id="sub" class="ui fluid button" type="submit">Submit that thang!</button>
    </div>
  </form>
</div>

<div id="posts" class="ui one column container"></div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/e5da894dce.js"></script>
<script src="./semantic.min.js"></script>
<script src="user_posts.js"></script>
